$text_color: #444;
$background_color: rgb(145, 184, 206);

body {
  color: $text_color;
  background-color: $background_color;
  font-family: "PT Serif", serif;
}

// First row
.container .row:first-child {
  margin-top: 30px;
}

// PAGE HEADER
.title {
  padding-top: 300px;
  font-family: "Novecentowide-Light", "Helvetica Neue";

  h1.title {
    display: inline;
    margin: 0px;
    margin-left: -10px;

    font-weight: 100;
    font-style: normal;

    font-size: 150px;
    line-height: 75px;
  }

  h3.subtitle {
    font-weight: 150;
    font-size: 1.35em;
    line-height: 1.2em;
  }

  .areas_of_expertise {
    font-size: 1.5em;
  }
}
