$text_color: #444;
$background_color: rgb(145, 184, 206);

body {
  color: $text_color;
  background-color: $background_color;
  font-family: "PT Serif", serif;
}

// First row
.container .row:first-child {
  margin-top: 30px;
}

// PAGE HEADER
.header {
  width: auto;

  text-align: center;

  h1.title {
    display: inline;
    margin: 0px auto;
    padding-bottom: 10px;

    font-family: "Novecentowide-Light", "Helvetica Neue";
    font-weight: 100;
    font-style: normal;
    text-transform: uppercase;

    font-size: 4em;

    border-bottom: solid 1px $text_color;
  }

  h3.subtitle {
    margin: 20px auto;
    padding-top: 10px;

    font-weight: 150;
    font-size: 1.5em;
    line-height: 1.2em;
  }
}
