---
title: "pixlig: Customer Experience and Software Development"
---


.container
  .row.title
    %h1.title pixlig
    %h3.subtitle
      We make delightful customer experiences - happily through pixels, but only if we must.

  .row
    %p
      pixlig e.U.
      %br
      Dipl.-Ing. Thomas Billicsich
      %br
      Stifterstraße 14
      %br
      9020 Klagenfurt
      %br
      Austria
      %br
      ATU 67 949 713
      %br
      FN 396811 x
      %br

