---
title: "pixlig: maßgefertigte Software für Kleine"
---


.container
  .row.title
    .col-md-6
      %h1.title pixlig
      %h3.subtitle
        maßgefertigte Technologie für Kleine

    .col-md-6.areas_of_expertise
      %ul.icons-ul
        %li
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-mobile-phone.icon-light
          iOS
        %li
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-comments-alt.icon-light
          Web
        %li
          %span.icon-stack
            %i.icon-circle.icon-stack-base
            %i.icon-lightbulb.icon-light
          Arduino

  %footer
    %p
      pixlig e.U.
      %br
      Dipl.-Ing. Thomas Billicsich
      %br
      Neherweg 20
      %br
      9523 Villach-Landskron
      %br
      Austria
      %br
      ATU 67 949 713
      %br
      FN 396811 x
      %br

/ /container

