---
title: "pixlig: Maßgefertigte Internetanwendungen für kleine und noch kleinere Unternehmen"
---


.container
  .row
    .span10.offset1
      .header
        %h1.title pixlig
        %h3.subtitle
          Maßgefertigte Internetanwendungen für
          %br
          kleine und noch kleinere Unternehmen

  .row
    .span8.offset2
      %p
        Besonders für Unternehmer, die alleine oder mit nur wenigen Mitarbeitern auskommen, kann die Unterstützung durch eine Websoftware deutliche Erleichterungen und Effizienzzuwächse im Umgang mit Kunden, Lieferanten und anderen wichtigen Geschäftspartnern bringen.
      %p
        Wiederholt auszuführende Aufgaben oder Erledigungen, deren synchrone Abwicklung per Telefonat, unnötige Zeit der Beteiligten in Anspruch nehmen, können oft automatisiert und somit kostengünstiger werden.

  .row
    .span8.offset2
      %h4 Beispiele
      %p
        Die folgenden von
        %span.company_name tastaturanschlag
        abgewickelten Projekte geben Beispiele, wie eine Webapplikation vielleicht auch Ihr Geschäft verbessern kann.

  .row
    .span5.offset1
      %h5 Bestellsystem für Chemiedatenblätter
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .span5
      %h5 Anmeldesystem für eine Sportveranstaltung
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

  %hr
  %footer
    %p Impressum
/ /container

