---
title: "pixlig: Customer Experience and Software Development"
---


.container
  .row.title
    .col-sm-8.col-xs-12
      %h1.title pixlig
      %h3.subtitle
        Making people's life less crowded and easier by building great products that just work.

  .row
    .col-xs-6.projects
      %h2 Projekte
      %div
        %img{src: "/images/kids_ktn.png", style: "width: 200px; border-radius: 8px"}
      %div
        %a{href: "https://kids.pixlig.at", style: "text-decoration: underline"} Kärnten with Kids
    .col-xs-6
      %p
        pixlig e.U.
        %br
        Dipl.-Ing. Thomas Billicsich
        %br
        Stifterstraße 14
        %br
        9020 Klagenfurt
        %br
        Austria
        %br
        ATU 67 949 713
        %br
        FN 396811 x
        %br

